p, h1, h2, h3 {
    font-family: Tahoma, Verdana, Helvetica ;
}

p {
    font-size: 21px;
}
h1, h2 {
    font-weight: bold;
    padding-bottom: 5px;
}
.specptwo {
    font-size: 14px;
}
.navbar-right a, #title-nav {
    font-weight: bold;
}

.fa-car {
    margin-bottom: 10px;
}

.specp {
    margin-bottom:0;
    font-size: 20px;
}
.spechr {
    margin-top: 5px;
    margin-bottom:5px;
}

.specdesc {
    padding-bottom: 25px;
}

h1, h2 {
    font-size: 42px;
}

.instr-descr {
    font-size: 18px;
}

#show-more-images-link {
    cursor: pointer;
}
.fa-bars, #title-nav, .navbar-right li a, #menu-title{
    color: #FFF;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.95);
}
.about {

    margin-bottom: 20px;
}

#about {
    padding-top: 30px;
}
a {
    color: #9e0000;
}
a:hover {
    color: #dd0000;
    text-decoration: none;
}

body {
    padding-top: 50px;
    background: url("../images/bg1068.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #F3F3F3;
    /*width: 535px;*/
}
#body-overlay {
    background: rgba(0, 0, 0, 0.9);
}
.navbar-toggle {
    padding-top: 6px;
    padding-bottom: 6px;
}
button {
    background-color: #A00000;
    border: 0;
    border-radius: 10px;
}

button {
    font-size: 16px;
}

button:hover {
    background-color: #DD0000;
}

a, a:hover {
    color: #F3F3F3;
}
.fa-vk:hover, .fa-instagram:hover {
    color: #c40000;
}
/*ACTION NAV ELEMENT HIDE IF NOT */
#action-nav {
    display: none;
}

.about-text h1{
    margin-top: 0;
}

#lastp {
    padding-bottom: 50px;
}
.about-ava {
    padding-bottom: 40px;
}
.about-buttons {
    padding-bottom: 50px;
}
.about-button {
    width: 140px;
    height: 50px;
    opacity: 0.8;
}


.text-with-pic {
    width: 100%;
    height:100px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

i {
    display: block;
}

.ul-we-have {
    display: inline-block;
}



.stock {
    padding-top: 10px;
}

.pros-stock {
    padding-bottom: 30px;
}
.four-more {
    padding-bottom: 15px;
}

#map {
    width: 100%;
    height: 450px;
}
.scrolloff {
    pointer-events: none;
}




.gallery {
    padding-bottom: 30px;

}

ol {
    visibility: hidden;
}

.gallery-cell {
    width: 350px;
    height: 220px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    background-color: rgba(0, 0, 0, 0.55);
}

.review-text {
    text-indent: 30px;
    line-height: 18px;
    text-align: justify;
    padding: 20px;
    font-size: 16px;
}

.review-author {
    text-align: right;
    font-style: italic;
    font-size: 16px;
}





.socials {
    background-color: rgba(85, 0, 0, 0.5);
    color: #F3F3F3;
    width: 100%;
    margin-left: 0;
    height: 60px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-bottom: 30px;
}

.socials i {
    padding-top: 10px;
}

.footer {
    background-color:rgba(0, 0, 0, 0.5);
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
}

.footer p {
    opacity: 0.8;
}
#footertitle {
    font-weight: bold;
    font-size: 25px;
    opacity: 1;
}
.instr-image {
    max-width: 300px;
    max-height: 300px;
    padding-bottom: 20px;
}
h2 {
    padding-bottom: 10px;
}

#show-more-images-link:hover, .podrobnoe:hover {
    color: #dd0000;
}
#tools img  {
    max-height: 146.11px;
}

#tools p {
    font-size: 15px;
}


.vertical-image {
    margin: 0 auto;
}

.instr-image-enlarged {
    height: 150%;
    width: 150%;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.3); }

.footer-img {
    max-width: 300px;
}

#about-start {
    border: #A00000 6px solid;
    display: inline-block;
    padding: 6px 50px 6px 50px;
}

.phonenumbers {
    font-size: 27px;
    font-weight: bold;
}

.priceslist ul li, .priceslist p {
    font-size: 19px;
}

.priceslist h3 {
    font-weight: bold;
}

.prices-bold {
    font-weight: bold;
}

.fotorama__thumb-border {
    border-color: #A00000;
}

#aboutush:hover, #actionh:hover, #toolsh:hover, #google-maph:hover, #pricesh:hover, #galleryh:hover, #reviewsh:hover {
    color: #dd0000; !important;
}

#arrow-down {
    color: #DD0000;
}

.tools-body h3, .tools-body i {
    display: inline-block;
    vertical-align: text-bottom;
}

.tools-body i {
    line-height: 81%;
    margin-left: 5px;
}

.tools-body {
    text-align: center;
}

#arrow-down {
    transform: translateY(0);
}

.fotorama__caption__wrap {
    background-color: rgba(185, 0, 0, 0.55);
    color: white;
}

.fotorama__caption {
    text-align: center;
}